<h1>Longestword#score</h1>
<p>Your word is <%= @user_word %></p>
<p> Time take to answer : <%= @result_time %></p>
<p>Translation : <%= @result_translation %></p>
<p>your score : <%= @result_score %></p>
<p>Message : <%= @result_message %></p>


<%= link_to "retour au jeux", "game" %>
